[submodule "ytoolkit"]
	path = ytoolkit
	url = https://github.com/sprhawk/ytoolkit.git
[submodule "externals/SBJson"]
	path = externals/SBJson
	url = https://github.com/stig/json-framework.git
[submodule "externals/ASIHTTPRequest"]
	path = externals/ASIHTTPRequest
	url = https://github.com/pokeb/asi-http-request.git
