[submodule "ytoolkit"]
	path = ytoolkit
	url = https://github.com/sprhawk/ytoolkit.git
[submodule "externals/asi-http-request"]
	path = externals/asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "externals/SBJson"]
	path = externals/SBJson
	url = https://github.com/stig/json-framework.git
